
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #3c3a39;
  width: 375px;
}

.nav-bar {
  display: flex;
  height: 92px;
  justify-content: space-between;
}

.name {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  margin-top: 56px;
  margin-bottom: 12px;
  margin-left: 24px;
  justify-content: flex-start;
}

.fa-bars {
  color: #fff;
  margin-top: 56px;
  margin-bottom: 12px;
  margin-right: 24px;
}

.header {
  background: #1c1a19;
  width: 100%;
  width: 375px;
  height: 590px;
}

.header-section {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.heading {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400px;
  font-size: 56px;
  margin-top: 120px;
  letter-spacing: 0.37px;
  line-height: 64px;
  width: 327px;
  height: 124px;
}

.sub-heading {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700px;
  width: 327px;
  height: 27px;
  align-items: center;
  font-size: 24px;
  line-height: 32px;
  margin: 12px 0;
}

.header-article {
  display: flex;
  flex-direction: column;
  position: relative;
}

.my-image {
  height: 256.89px;
  width: 261.83px;
  background-image: url("./assets/images/Group1.png");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  margin-top: 55.44px;
  margin-left: 89.48px;
}

.introduction {
  color: #fff;
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700px;
  margin-right: 24px;
  line-height: 24px;
  margin-bottom: 12px;
}

.list {
  margin-top: 12px;
  width: 200px;
  height: 40px;
  list-style-type: none;
  margin-left: 10px;
}

.list a {
  margin-left: 12px;
}

.list li {
  display: inline;
}

.works {
  display: grid;
  width: 375px;
  grid-template-columns: 1fr;
}

.works-heading {
  margin-top: 120px;
  width: 327px;
  height: 83px;
  font-weight: 400;
  line-height: 52px;
  font-size: 40px;
  color: #1c1a19;
  margin-left: 24px;
  margin-right: 24px;
  border-bottom: 1px solid #212121;
  font-family: 'Crete Round', serif;
}

.work1 {
  width: 327px;
  background-image: url("./assets/images/work1.png");
  height: 237px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 80px;
}

.work1-info {
  width: 330px;
  margin-left: 24px;
  margin-right: 24px;
}

.works-subheading {
  height: 36px;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 12px;
  margin-top: 24px;
}

.post {
  line-height: 24px;
  font-weight: 400px;
  font-family: 'Inter', sans-serif;
  height: 147px;
  font-size: 16px;
  color: #091e42;
}

.lang-list {
  float: left;
  height: 40px;
  width: 297px;
  list-style-type: none;
  display: flex;
  column-gap: 12px;
  margin-top: 12px;
  align-items: center;
}

.lang-list a {
  text-decoration: none;
  color: #091e42;
}

.lang-list li {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-top: 12px;
  background-color: #fff;
  margin-bottom: 12px;
}

.btn-details {
  padding: 12px;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  margin-top: 12px;
}

.btn-details:hover {
  background: #fff5f1;
  border: 1px solid #f55800;
  color: #ff6b00;
}

.btn-details:active {
  color: #f4f1f0;
}

.printing {
  display: grid;
  width: 327px;
  background-image: url("./assets/images/proffessional printing.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  color: #fff;
}

.btn-details-printing {
  padding: 12px;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
}

.btn-details-printing:hover {
  background: #fff5f1;
  border: 1px solid #f55800;
  color: #ff6b00;
}

.print-title {
  margin-top: 84px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.print-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: 'Crete Round', serif;
  margin-bottom: 12px;
}

.print-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 4px;
}

.print-list li {
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  display: inline;
  column-gap: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Crete Round', serif;
  margin-left: 12px;
  margin-bottom: 24px;
}

.print-list a {
  text-decoration: none;
  color: #fff;
}

.my-footer {
  display: grid;
  background: #1c1a19;
  width: 375px;
  padding-bottom: 40px;
  margin-top: 120px;
}

.footer-heading {
  margin-top: 120px;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  font-family: 'Crete Round', serif;
  width: 327px;
  height: 79px;
}

.footer-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.img-footer {
  background-image: url("./assets/images/footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  background-position: right;
}

.btn-footer {
  margin-left: 24px;
  padding: 12px;
  width: 161px;
  position: relative;
}

.line {
  border-bottom: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
}

.lang-footer {
  display: flex;
  margin-left: 86.77px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 136.73px;
  background-image: url("./assets/images/rectangle footer.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
}

.lang-heading {
  padding-left: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.footer-languages {
  display: flex;
  margin-left: 124.23px;
  margin-right: 130.5px;
  margin-top: 11.73px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-languages li {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-left: 24px;
  font-family: 'Inter', sans-serif;
  margin-top: 32px;
  text-align: center;
}

.footer-languages a {
  text-decoration: none;
  color: #fff;
}

.frame-footer {
  background-image: url("./assets/images/Rectangle.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
  display: flex;
  margin-left: 59px;
  margin-right: 59px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 44px;
}

.frame {
  padding-left: 36px;
  font-weight: 700;
  margin-left: 89px;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.frame-work li {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-left: 24px;
  font-family: 'Inter', sans-serif;
  margin-top: 32px;
  text-align: center;
}

.frame-work a {
  text-decoration: none;
  color: #fff;
}

.frame-skill {
  background-image: url("./assets/images/rect1.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
  display: flex;
  margin-left: 120px;
  margin-right: 59px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 44px;
}

.skill {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
  margin-top: 32px;
  text-align: center;
}

.skill a {
  text-decoration: none;
  color: #fff;
}

.contact-form {
  background: #fff;
  width: 375px;
  margin-top: 120px;
}

.contact-header {
  width: 327px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 24px;
  margin-right: 24px;
  color: #172b4d;
  align-items: center;
  text-align: center;
  margin-bottom: 73px;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
  margin-left: 40px;
  margin-right: 40px;
  border: none;
  margin-bottom: 14px;
}

.border {
  margin-top: 14px;
  border-bottom: 1px solid  #dbd8d7;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 40px;
}

.border2 {
  margin-top: 14px;
  border-bottom: 1px solid  #dbd8d7;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 25px;
}

.text {
  height: 114px;
  background: #fbf8f7;
  margin-left: 24px;
  margin-right: 24px;
}

.Get-touch-btn {
  background: #ff6b00;
  margin-left: 122px;
  margin-right: 122px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 206px;
}

.border3 {
  border-bottom: 1px solid #dfe1e6;
}

.list-form {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 20.1px;
}

.list-form li {
  list-style-type: none;
}

.footer-image {
  margin-top: 23px;
  margin-left: 120px;
  margin-right: 121px;
  margin-bottom: 8px;
}
